@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: black;
    color: white;
    font-family:'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
}
